:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.dashboard {
  position: fixed;
  padding: 16px 16px 14px;
  background-color: #fff;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  background-image: url('/assets/img/maxresdefault.jpg');
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn-toggle-play {
  /* width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  background-color: var(--primary-color);
}