:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.dashboard {
  position: fixed;
  padding: 16px 16px 14px;
  /* background-color: #fff */
}